/* {
    outline: solid 1px red;
} */

h1 {
    font-size: 14px;
    text-indent: 13%;
}

nav {
    background-color: black;
}

ul {
    text-indent: 10%;
    padding: 20px 20px;
}

li {
    display: inline;
    color: white;
    padding: 20px;
    font-size: 14px;
}

a {
    color: white;
}

.hire_box {
    float: left;
    width: 50%;
    background-color: #55a747;
    color: white;
}

.looking_box {
    float: left;
    width: 50%;
    background-color: #313131;
    color: white;
}

.container {
    width: 1000px;
    margin: auto;
}

.hire_button {
    float: right;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 8px;
    border-color: black;
}

.sign_up_button {
    float: right;
    padding-right: 20px;
    padding-bottom: 20px;
}