/* {
    outline: 1px solid red;
}*/

.main {
    overflow: hidden;
    position: relative;
}

.box1 img{
    float: left;
    width: 50%;
}

.box2 {
    margin-left: 50%;
    min-height: 100%;
    text-align: center;
    background-color: rgb(240,240,240);
    position: absolute;
    top: 0;
    right: 0;
}

.inside_text {
    margin-top: 25%;
    padding: 70px 70px;
}

.box2 h1 {
    color: #252B3B;
    font-size: 1.9em;
}

.box2 p {
    color: #555;
    padding-bottom: 20px;
}

.readmore h3 {
    font-weight: bold;
    color: #252B3B;
    border: 2px solid #555;
    padding: 5px;
    max-width: 100px;
    margin: auto;
}